{{#power-select searchEnabled=false selected=selectedValue options=content onchange=(action (mut selectedValue)) as |item|}}
  <div class="ember-power-select-item">
    {{item}}
  </div>
{{/power-select}}
