<div class="imdt-table-search-widget">
    <label class="imdt-table-search-label col-md-2 col-md-offset-7">
      {{{messages.search.label}}}
    </label>
    <div class="col-md-3 no-padding">
      {{input type="search" value=searchTerm class="imdt-table-search-input form-control"}}
    </div>
</div>
