<div class="imdt-table-search-widget">
  <label class="imdt-table-search-label">
    {{{messages.search.label}}}
  </label>
  {{input type="search" value=searchTerm class="imdt-table-search-input"}}
</div>
