<div class="imdt-table-search-widget clearfix">
    <div class="col-sm-3 col-sm-offset-9 no-padding">
      <div class="input-group">
        <div class="input-group-addon">{{fa-icon 'search' fixedWidth=true}}</div>
        {{input type="search" value=searchTerm class="imdt-table-search-input form-control"}}
      </div>
    </div>
</div>
